<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yibiyihua.crm.workbench.mapper.ActivityRemarkMapper">
    <!--实体类属性、表列名映射-->
    <resultMap id="BaseResultMap" type="activityRemark">
        <id column="id" property="id"/>
        <result column="note_content" property="noteContent"/>
        <result column="create_time" property="createTime"/>
        <result column="create_by" property="createBy"/>
        <result column="edit_time" property="editTime"/>
        <result column="edit_by" property="editBy"/>
        <result column="edit_flag" property="editFlag"/>
        <result column="activity_id" property="activityId"/>
    </resultMap>
    <!--sql片段-->
    <sql id="Base_Column_List">
        id, note_content, create_time, create_by, edit_time, edit_by, edit_flag, activity_id
    </sql>

    <!--
    根据市场活动id查询市场活动备注详细信息
    List<ActivityRemark> selectActivityRemarkForDetailByActivityId(String activityId)-->
    <select id="selectActivityRemarkForDetailByActivityId" parameterType="string" resultMap="BaseResultMap">
        select ar.id,
               ar.note_content,
               ar.create_time,
               u1.name as create_by,
               ar.edit_time,
               u2.name as edit_by,
               ar.edit_flag
        from tbl_activity_remark ar
                 join tbl_user u1 on ar.create_by = u1.id
                 left join tbl_user u2 on ar.edit_by = u2.id
        where ar.activity_id = #{activityId}
        order by ar.create_time
    </select>

    <!--
    增加市场活动备注
    int insertActivityRemark(ActivityRemark activityRemark)-->
    <insert id="insertActivityRemark" parameterType="activityRemark">
        insert into tbl_activity_remark (id, note_content, create_time,
                                         create_by, edit_time, edit_by,
                                         edit_flag, activity_id)
        values (#{id}, #{noteContent}, #{createTime},
                #{createBy}, #{editTime}, #{editBy},
                #{editFlag}, #{activityId})
    </insert>

    <!--
    通过id删除市场活动备注
    int deleteActivityRemarkById(String id)-->
    <delete id="deleteActivityRemarkById" parameterType="string">
        delete
        from tbl_activity_remark
        where id = #{id}
    </delete>

    <!--
    根据id有选择地更新市场活动备注
    int updateActivityRemarkById(ActivityRemark activityRemark)-->
    <update id="updateActivityRemarkById" parameterType="activityRemark">
        update tbl_activity_remark
        set note_content = #{noteContent},
            edit_time    = #{editTime},
            edit_by      = #{editBy},
            edit_flag    = #{editFlag}
        where id = #{id}
    </update>

    <!--
    根据id查询市场活动备注
    ActivityRemark selectActivityRemarkById(String id)-->
    <select id="selectActivityRemarkById" resultMap="BaseResultMap" parameterType="string">
        select ar.id,
               ar.note_content,
               ar.create_time,
               u1.name as create_by,
               ar.edit_time,
               u2.name as edit_by,
               ar.edit_flag
        from tbl_activity_remark ar
                 join tbl_user u1 on ar.create_by = u1.id
                 left join tbl_user u2 on ar.edit_by = u2.id
        where ar.id = #{id}
    </select>

    <!--
    根据市场活动ids删除市场活动备注
    int deleteActivityRemarkByActivityIds(String[] activityIds)-->
    <delete id="deleteActivityRemarkByActivityIds" parameterType="string">
        delete from tbl_activity_remark
        where activity_id in
        <foreach collection="array" item="activityId" open="(" separator="," close=")">
            #{activityId}
        </foreach>
    </delete>
</mapper>