<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yibiyihua.crm.workbench.mapper.ClueRemarkMapper" >
  <!--实体类、列名映射关系-->
  <resultMap id="BaseResultMap" type="clueRemark" >
    <id column="id" property="id"/>
    <result column="note_content" property="noteContent"/>
    <result column="create_by" property="createBy"/>
    <result column="create_time" property="createTime"/>
    <result column="edit_by" property="editBy"/>
    <result column="edit_time" property="editTime"/>
    <result column="edit_flag" property="editFlag"/>
    <result column="clue_id" property="clueId"/>
  </resultMap>
  <!--sql片段-->
  <sql id="Base_Column_List" >
    id, note_content, create_by, create_time, edit_by, edit_time, edit_flag, clue_id
  </sql>

  <!--
  根据线索id查询线索备注
  ClueRemark selectClueRemarkForDetailByClueId(String clueId)-->
  <select id="selectClueRemarkForDetailByClueId" parameterType="string" resultMap="BaseResultMap">
    select cr.id,
           cr.note_content,
           u1.name as create_by,
           cr.create_time,
           u2.name as edit_by,
           cr.edit_time,
           cr.edit_flag,
           cr.clue_id
    from tbl_clue_remark cr
           join tbl_user u1 on cr.create_by = u1.id
           left join tbl_user u2 on cr.edit_by = u2.id
    where cr.clue_id = #{clueId}
    order by cr.create_time
  </select>

  <!--
  根据id删除线索
  int deleteClueRemarkById(String id)-->
  <delete id="deleteClueRemarkById" parameterType="string" >
    delete from tbl_clue_remark
    where id = #{id}
  </delete>

  <!--
  根据id更新线索
  int updateClueRemarkById(ClueRemark clueRemark)-->
  <update id="updateClueRemarkById" parameterType="clueRemark">
    update tbl_clue_remark
    set note_content = #{noteContent},
        edit_by = #{editBy},
        edit_time = #{editTime},
        edit_flag = #{editFlag}
    where id = #{id}
  </update>

  <!--
  添加线索备注
  int insertClueRemark(ClueRemark clueRemark)-->
  <insert id="insertClueRemark" parameterType="clueRemark">
    insert into tbl_clue_remark (id, note_content, create_by, create_time, edit_flag, clue_id)
    values (#{id}, #{noteContent}, #{createBy}, #{createTime}, #{editFlag}, #{clueId})
  </insert>

  <!--
  根据线索id查询线索备注
  List<ClueRemark> selectClueRemarkByClueId(String clueId)-->
  <select id="selectClueRemarkByClueId" parameterType="string" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"></include>
        from tbl_clue_remark
    where clue_id = #{clueId}
  </select>

  <!--
  根据线索id删除线索备注
  int deleteClueRemarkByClueId(String clueId)-->
  <delete id="deleteClueRemarkByClueId" parameterType="string">
    delete from tbl_clue_remark
    where clue_id = #{clueId}
  </delete>

  <!--
  根据线索id批量删除线索备注
  int deleteClueRemarkByClueIds(String[] clueIds)-->
  <delete id="deleteClueRemarkByClueIds" parameterType="string">
    delete from tbl_clue_remark
    where clue_id in
    <foreach collection="array" item="clueId" open="(" separator="," close=")">
      #{clueId}
    </foreach>
  </delete>
</mapper>