<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yibiyihua.crm.workbench.mapper.ClueMapper" >
  <!--实体类、列名映射-->
  <resultMap id="BaseResultMap" type="clue" >
    <id column="id" property="id"/>
    <result column="full_name" property="fullName"/>
    <result column="appellation" property="appellation"/>
    <result column="owner" property="owner"/>
    <result column="company" property="company"/>
    <result column="job" property="job"/>
    <result column="email" property="email"/>
    <result column="phone" property="phone"/>
    <result column="website" property="website"/>
    <result column="mphone" property="mphone"/>
    <result column="state" property="state"/>
    <result column="source" property="source"/>
    <result column="create_by" property="createBy"/>
    <result column="create_time" property="createTime"/>
    <result column="edit_by" property="editBy"/>
    <result column="edit_time" property="editTime"/>
    <result column="description" property="description"/>
    <result column="contact_summary" property="contactSummary"/>
    <result column="next_contact_time" property="nextContactTime"/>
    <result column="address" property="address"/>
  </resultMap>
  <!--sql片段-->
  <sql id="Base_Column_List" >
    id, full_name, appellation, owner, company, job, email, phone, website, mphone, state,
    source, create_by, create_time, edit_by, edit_time, description, contact_summary,
    next_contact_time, address
  </sql>

  <!--
  添加线索
  int insertClue(Clue clue)-->
  <insert id="insertClue" parameterType="clue" >
    insert into tbl_clue (id, full_name, appellation,
                          owner, company, job, email,
                          phone, website, mphone,
                          state, source, create_by,
                          create_time, edit_by, edit_time,
                          description, contact_summary, next_contact_time,
                          address)
    values (#{id}, #{fullName}, #{appellation},
            #{owner}, #{company}, #{job}, #{email},
            #{phone}, #{website}, #{mphone},
            #{state}, #{source}, #{createBy},
            #{createTime}, #{editBy}, #{editTime},
            #{description}, #{contactSummary}, #{nextContactTime},
            #{address})
  </insert>

  <!--
  根据条件有选择地分页查询线索
  List<Clue> selectClueByConditionForPage(Map<String,Object> map)-->
  <select id="selectClueByConditionForPage" parameterType="map" resultMap="BaseResultMap">
    select c.id,c.full_name,dv1.value as appellation,c.company, c.phone, c.mphone, dv2.value as source, u.name as owner, dv3.value as state
    from tbl_clue c
    join tbl_user u on c.owner = u.id
    left join tbl_dic_value dv1 on c.appellation = dv1.id
    left join tbl_dic_value dv2 on c.source = dv2.id
    left join tbl_dic_value dv3 on c.state = dv3.id
    <where>
      <if test="fullName != null and fullName != ''">
        and c.full_name like concat('%',#{fullName},'%')
      </if>
      <if test="company != null and company != ''">
        and c.company like concat('%',#{company},'%')
      </if>
      <if test="phone != null and phone != ''">
        and c.phone like concat('%',#{phone},'%')
      </if>
      <if test="source != null and source != ''">
        and dv2.id like concat('%',#{source},'%')
      </if>
      <if test="owner != null and owner != ''">
        and u.name like concat('%',#{owner},'%')
      </if>
      <if test="mphone != null and mphone != ''">
        and c.mphone like concat('%',#{mphone},'%')
      </if>
      <if test="state != null and state != ''">
        and dv3.id like concat('%',#{state},'%')
      </if>
    </where>
    order by c.create_time desc
    limit #{beginNo},#{pageSize}
  </select>

  <!--
  根据条件查询线索总条数
  int selectClueCountByCondition(Map<String,Object> map)-->
  <select id="selectClueCountByCondition" parameterType="map" resultType="int">
    select count(*)
    from tbl_clue c
    join tbl_user u on c.owner = u.id
    left join tbl_dic_value dv1 on c.source = dv1.id
    left join tbl_dic_value dv2 on c.state = dv2.id
    <where>
      <if test="fullName != null and fullName != ''">
        and c.full_name like concat('%',#{fullName},'%')
      </if>
      <if test="company != null and company != ''">
        and c.company like concat('%',#{company},'%')
      </if>
      <if test="phone != null and phone != ''">
        and c.phone like concat('%',#{phone},'%')
      </if>
      <if test="source != null and source != ''">
        and dv1.id like concat('%',#{source},'%')
      </if>
      <if test="owner != null and owner != ''">
        and u.name like concat('%',#{owner},'%')
      </if>
      <if test="mphone != null and mphone != ''">
        and c.mphone like concat('%',#{mphone},'%')
      </if>
      <if test="state != null and state != ''">
        and dv2.value like concat('%',#{state},'%')
      </if>
    </where>
  </select>

  <!--
  根据ids删除线索
  int deleteClueByIds(String ids)-->
  <delete id="deleteClueByIds" parameterType="string">
    delete from tbl_clue
    where id in
    <foreach collection="array" item="id" open="(" separator="," close=")">
      #{id}
    </foreach>
  </delete>

  <!--
  根据id查询线索
  public Clue selectClueById(String id)-->
  <select id="selectClueById" parameterType="string" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from tbl_clue
    where id = #{id}
  </select>

  <!--
  根据id更新线索
  int updateClueById(String id)-->
  <update id="updateClueById" parameterType="clue">
    update tbl_clue
    set full_name = #{fullName},
        appellation = #{appellation},
        owner = #{owner},
        company = #{company},
        job = #{job},
        email = #{email},
        phone = #{phone},
        website = #{website},
        mphone = #{mphone},
        state = #{state},
        source = #{source},
        edit_by = #{editBy},
        edit_time = #{editTime},
        description = #{description},
        contact_summary = #{contactSummary},
        next_contact_time = #{nextContactTime},
        address = #{address}
    where id = #{id}
  </update>

  <!--
  根据id查询线索详情
  Clue selectClueForDetailById(String id)-->
  <select id="selectClueForDetailById" parameterType="string" resultMap="BaseResultMap">
    select c.id,
           c.full_name,
           dv1.value as appellation,
           u1.name    as owner,
           c.company,
           c.job,
           c.email,
           c.phone,
           c.website,
           c.mphone,
           dv2.value as state,
           dv3.value as source,
           u2.name as create_by,
           c.create_time,
           u3.name as edit_by,
           c.edit_time,
           c.description,
           c.contact_summary,
           c.next_contact_time,
           c.address
    from tbl_clue c
           join tbl_user u1 on c.owner = u1.id
           join tbl_user u2 on c.create_by = u2.id
           left join tbl_user u3 on c.edit_by = u3.id
           left join tbl_dic_value dv1 on c.appellation = dv1.id
           left join tbl_dic_value dv2 on c.state = dv2.id
           left join tbl_dic_value dv3 on c.source = dv3.id
    where c.id = #{id}
  </select>

  <!--
  根据id删除线索
  int deleteClueById(String id)-->
  <delete id="deleteClueById" parameterType="string">
    delete
    from tbl_clue
    where id = #{Id}
  </delete>
</mapper>