<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yibiyihua.crm.workbench.mapper.CustomerRemarkMapper">
    <!--实体类属性、列名映射-->
    <resultMap id="BaseResultMap" type="customerRemark">
        <id column="id" property="id"/>
        <result column="note_content" property="noteContent"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="edit_by" property="editBy"/>
        <result column="edit_time" property="editTime"/>
        <result column="edit_flag" property="editFlag"/>
        <result column="customer_id" property="customerId"/>
    </resultMap>
    <!--sql片段-->
    <sql id="Base_Column_List">
        id, note_content, create_by, create_time, edit_by, edit_time, edit_flag, customer_id
    </sql>

    <!--
    批量添加客户备注
    int insertCustomerRemarkList(List<CustomerRemark> customerRemarkList)-->
    <insert id="insertCustomerRemarkList" parameterType="customerRemark">
        insert into tbl_customer_remark (id, note_content, create_by,
                                         create_time, edit_by, edit_time,
                                         edit_flag, customer_id)
        values
            <foreach collection="list" item="obj" separator=",">
                (#{obj.id}, #{obj.noteContent}, #{obj.createBy},
                #{obj.createTime}, #{obj.editBy}, #{obj.editTime},
                #{obj.editFlag}, #{obj.customerId})
            </foreach>
    </insert>

    <!--
    根据客户ids删除客户备注
    int deleteCustomerRemarkByCustomerIds(String[] customerIds)-->
    <delete id="deleteCustomerRemarkByCustomerIds" parameterType="string">
        delete from tbl_customer_remark
        where customer_id in
        <foreach collection="array" item="customerId" open="(" separator="," close=")">
            #{customerId}
        </foreach>
    </delete>

    <!--
    根据客户id查询客户备注
    CustomerRemark selectCustomerRemarkByCustomerId(String customerId)-->
    <select id="selectCustomerRemarkByCustomerId" parameterType="string" resultMap="BaseResultMap">
        select cr.id,
               cr.note_content,
               u1.name as create_by,
               cr.create_time,
               u2.name as edit_by,
               cr.edit_time,
               cr.edit_flag
        from tbl_customer_remark cr
                 join tbl_user u1 on cr.create_by = u1.id
                 left join tbl_user u2 on cr.edit_by = u2.id
        where cr.customer_id = #{customerId}
        order by cr.create_time
    </select>

    <!--
    添加客户备注
    int insertCustomerRemark(CustomerRemark customerRemark)-->
    <insert id="insertCustomerRemark" parameterType="customerRemark">
        insert into tbl_customer_remark (id, note_content, create_by, create_time, edit_flag, customer_id)
        values (#{id}, #{noteContent}, #{createBy}, #{createTime}, #{editFlag}, #{customerId})
    </insert>

    <!--
    根据客户备注id删除客户备注
    int deleteCustomerRemarkById(String id)-->
    <delete id="deleteCustomerRemarkById" parameterType="string">
        delete
        from tbl_customer_remark
        where id = #{id}
    </delete>

    <!--
    根据id更行客户备注
    int updateCustomerRemarkById(CustomerRemark customerRemark)-->
    <update id="updateCustomerRemarkById" parameterType="customerRemark">
        update tbl_customer_remark
        set note_content = #{noteContent},
            edit_by = #{editBy},
            edit_time = #{editTime},
            edit_flag = #{editFlag}
        where id = #{id}
    </update>
</mapper>