<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yibiyihua.crm.workbench.mapper.TransactionHistoryMapper" >
  <!--实体类属性、列名映射关系-->
  <resultMap id="BaseResultMap" type="transactionHistory" >
    <id column="id" property="id"/>
    <result column="stage" property="stage"/>
    <result column="money" property="money"/>
    <result column="expected_date" property="expectedDate"/>
    <result column="create_time" property="createTime"/>
    <result column="create_by" property="createBy"/>
    <result column="tran_id" property="tranId"/>
  </resultMap>
  <!--sql片段-->
  <sql id="Base_Column_List" >
    id, stage, money, expected_date, create_time, create_by, tran_id
  </sql>

  <!--
  根据交易ids删除交易历史
  int deleteHistoryByTransactionIds(String[] tranIds)-->
  <delete id="deleteHistoryByTransactionIds" parameterType="string">
    delete from tbl_transaction_history
    where tran_id in
    <foreach collection="array" item="tranId" open="(" separator="," close=")">
      #{tranId}
    </foreach>
  </delete>

  <!--
  根据交易id查询交易阶段历史
  List<TransactionHistory> selectHistoryByTransactionId(String tranId)-->
  <select id="selectHistoryByTransactionId" parameterType="string" resultMap="BaseResultMap">
    select dv.value as stage,
           th.money,
           th.expected_date,
           th.create_time,
           u.name   as create_by
    from tbl_transaction_history th
           join tbl_dic_value dv on th.stage = dv.id
           join tbl_user u on th.create_by = u.id
    where th.tran_id = #{tranId}
    order by th.create_time desc
  </select>

  <!--
  添加交易历史记录
  int insertTransactionHistory(TransactionHistory tranHistory)-->
  <insert id="insertTransactionHistory" parameterType="transactionHistory">
    insert into tbl_transaction_history (id, stage, money, expected_date, create_time, create_by, tran_id)
    values (#{id}, #{stage}, #{money}, #{expectedDate}, #{createTime}, #{createBy}, #{tranId})
  </insert>
</mapper>