<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yibiyihua.crm.settings.mapper.DictionaryValueMapper">
    <!--实体类属性、类名映射-->
    <resultMap id="BaseResultMap" type="dictionaryValue">
        <id column="id" property="id" jdbcType="CHAR"/>
        <result column="value" property="value" jdbcType="VARCHAR"/>
        <result column="text" property="text" jdbcType="VARCHAR"/>
        <result column="order_no" property="orderNo" jdbcType="VARCHAR"/>
        <result column="type_code" property="typeCode" jdbcType="VARCHAR"/>
    </resultMap>
    <!--sql片段-->
    <sql id="Base_Column_List">
        id, value, text, order_no, type_code
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="string">
        select
        <include refid="Base_Column_List"/>
        from tbl_dic_value
        where id = #{id}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="string">
        delete
        from tbl_dic_value
        where id = #{id}
    </delete>

    <insert id="insert" parameterType="dictionaryValue">
        insert into tbl_dic_value (id, value, text,
                                   order_no, type_code)
        values (#{id}, #{value}, #{text},
                #{orderNo}, #{typeCode})
    </insert>

    <insert id="insertSelective" parameterType="dictionaryValue">
        insert into tbl_dic_value
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="value != null">
                value,
            </if>
            <if test="text != null">
                text,
            </if>
            <if test="orderNo != null">
                order_no,
            </if>
            <if test="typeCode != null">
                type_code,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="value != null">
                #{value},
            </if>
            <if test="text != null">
                #{text},
            </if>
            <if test="orderNo != null">
                #{orderNo},
            </if>
            <if test="typeCode != null">
                #{typeCode},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="dictionaryValue">
        update tbl_dic_value
        <set>
            <if test="value != null">
                value = #{value},
            </if>
            <if test="text != null">
                text = #{text},
            </if>
            <if test="orderNo != null">
                order_no = #{orderNo},
            </if>
            <if test="typeCode != null">
                type_code = #{typeCode},
            </if>
        </set>
        where id = #{id}
    </update>

    <update id="updateByPrimaryKey" parameterType="dictionaryValue">
        update tbl_dic_value
        set value     = #{value},
            text      = #{text},
            order_no  = #{orderNo},
            type_code = #{typeCode}
        where id = #{id}
    </update>

    <!--
    根据字典类型查询字典值
    List<DictionaryValue> selectDictionaryValueByTypeCode(String typeCode)-->
    <select id="selectDictionaryValueByTypeCode" parameterType="string" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"></include>
        from tbl_dic_value
        where type_code = #{typeCode}
        order by order_no
    </select>

    <!--
    根据id查询字典值
    String selectDictionaryValueById(String id)-->
    <select id="selectDictionaryValueById" parameterType="string" resultType="string">
        select value
        from tbl_dic_value
        where id = #{id}
    </select>

    <!--
    根据value和typeCode查询字典记录
    DictionaryValue selectDictionaryByValueAndTypeCode(String value, String typeCode)-->
    <select id="selectDictionaryByValueAndTypeCode" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"></include>
        from tbl_dic_value
        where value = #{0} and type_code = #{1}
    </select>
</mapper>