<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yibiyihua.crm.settings.mapper.UserMapper">
    <!--实体类属性、列名映射-->
    <resultMap id="BaseResultMap" type="user">
        <id column="id" property="id"/>
        <result column="login_act" property="loginAct"/>
        <result column="name" property="name"/>
        <result column="login_pwd" property="loginPwd"/>
        <result column="email" property="email"/>
        <result column="expire_time" property="expireTime"/>
        <result column="lock_state" property="lockState"/>
        <result column="deptno" property="deptno"/>
        <result column="allow_ips" property="allowIps"/>
        <result column="create_time" property="createTime"/>
        <result column="create_by" property="createBy"/>
        <result column="edit_time" property="editTime"/>
        <result column="edit_by" property="editBy"/>
    </resultMap>
    <!--sql片段-->
    <sql id="Base_Column_List">
        id, login_act, name, login_pwd, email, expire_time, lock_state, deptno, allow_ips,
        create_time, create_by, edit_time, edit_by
    </sql>

    <!--
    按主键查询用户记录
    User selectByPrimaryKey(String id)-->
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="string">
        select
        <include refid="Base_Column_List"/>
        from tbl_user
        where id = #{id}
    </select>

    <!--
    按主键删除用户记录
    int deleteByPrimaryKey(String id)-->
    <delete id="deleteByPrimaryKey" parameterType="string">
        delete from tbl_user
        where id = #{id}
    </delete>

    <!--
    插入记录
    int insert(User record)-->
    <insert id="insert" parameterType="user">
        insert into tbl_user (id, login_act, name,
        login_pwd, email, expire_time,
        lock_state, deptno, allow_ips,
        create_time, create_by, edit_time,
        edit_by)
        values (#{id}, #{loginAct}, #{name},
        #{loginPwd}, #{email}, #{expireTime},
        #{lockState}, #{deptno}, #{allowIps},
        #{createTime}, #{createBy}, #{editTime},
        #{editBy})
    </insert>

    <!--
    选择性插入
    int insertSelective(User record)-->
    <insert id="insertSelective" parameterType="user">
        insert into tbl_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="loginAct != null">
                login_act,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="loginPwd != null">
                login_pwd,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="expireTime != null">
                expire_time,
            </if>
            <if test="lockState != null">
                lock_state,
            </if>
            <if test="deptno != null">
                deptno,
            </if>
            <if test="allowIps != null">
                allow_ips,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="createBy != null">
                create_by,
            </if>
            <if test="editTime != null">
                edit_time,
            </if>
            <if test="editBy != null">
                edit_by,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="loginAct != null">
                #{loginAct},
            </if>
            <if test="name != null">
                #{name},
            </if>
            <if test="loginPwd != null">
                #{loginPwd},
            </if>
            <if test="email != null">
                #{email},
            </if>
            <if test="expireTime != null">
                #{expireTime},
            </if>
            <if test="lockState != null">
                #{lockState},
            </if>
            <if test="deptno != null">
                #{deptno},
            </if>
            <if test="allowIps != null">
                #{allowIps},
            </if>
            <if test="createTime != null">
                #{createTime},
            </if>
            <if test="createBy != null">
                #{createBy},
            </if>
            <if test="editTime != null">
                #{editTime},
            </if>
            <if test="editBy != null">
                #{editBy},
            </if>
        </trim>
    </insert>

    <!--
    按主键选择性更新
    int updateByPrimaryKeySelective(User record)-->
    <update id="updateByPrimaryKeySelective" parameterType="user">
        update tbl_user
        <set>
            <if test="loginAct != null">
                login_act = #{loginAct},
            </if>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="loginPwd != null">
                login_pwd = #{loginPwd},
            </if>
            <if test="email != null">
                email = #{email},
            </if>
            <if test="expireTime != null">
                expire_time = #{expireTime},
            </if>
            <if test="lockState != null">
                lock_state = #{lockState},
            </if>
            <if test="deptno != null">
                deptno = #{deptno},
            </if>
            <if test="allowIps != null">
                allow_ips = #{allowIps},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="createBy != null">
                create_by = #{createBy},
            </if>
            <if test="editTime != null">
                edit_time = #{editTime},
            </if>
            <if test="editBy != null">
                edit_by = #{editBy},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--
    按主键更新
    int updateByPrimaryKey(User record)-->
    <update id="updateByPrimaryKey" parameterType="user">
        update tbl_user
        set login_act = #{loginAct},
        name = #{name},
        login_pwd = #{loginPwd},
        email = #{email},
        expire_time = #{expireTime},
        lock_state = #{lockState},
        deptno = #{deptno},
        allow_ips = #{allowIps},
        create_time = #{createTime},
        create_by = #{createBy},
        edit_time = #{editTime},
        edit_by = #{editBy}
        where id = #{id}
    </update>

    <!--
    根据账号密码查询用户
    User selectUserByLoginActAndPwd(Map<String,Object> map)-->
    <select id="selectUserByLoginActAndPwd" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"></include>
        from tbl_user
        where login_act = #{loginAct} and login_pwd = #{loginPwd}
    </select>

    <!--
    查询所有用户
    List<User> selectAllUsers()-->
    <select id="selectAllUsers" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"></include>
        from tbl_user
        where lock_state = '1' and id != '6'
    </select>
</mapper>